<form
  [formGroup]="bugForm"
  (ngSubmit)="onSubmit()"
  class="container mt-2 vh-100"
>
  <h2 class="text-center mb-4">{{ updatedBug ? "Edit" : "Create" }} Bug</h2>

  <div class="row">
    @for (field of formFields; track field.key) {
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label class="mb-1 text-secondary" for="{{ field.key }}">{{
          field.label
        }}</label>
        <ng-container [ngSwitch]="field.type">
          <input
            *ngSwitchCase="inputTypes.TEXT"
            type="text"
            formControlName="{{ field.key }}"
            id="{{ field.key }}"
            class="form-control"
            [placeholder]="field.placeholder"
          />
          <select
            *ngSwitchCase="inputTypes.SELECT"
            formControlName="{{ field.key }}"
            id="{{ field.key }}"
            class="form-select"
          >
            <option value="" disabled selected>Select your option</option>
            @for (option of field.options; track $index) {
            <option [value]="option">
              {{ option }}
            </option>
            }
          </select>
          <textarea
            *ngSwitchCase="inputTypes.TEXT_AREA"
            formControlName="{{ field.key }}"
            id="{{ field.key }}"
            class="form-control"
            rows="4"
            [placeholder]="field.placeholder"
          ></textarea>
        </ng-container>
        @if (bugForm.get(field.key)?.invalid && (bugForm.get(field.key)?.dirty
        || bugForm.get(field.key)?.touched) ) {
        <div class="text-danger">
          @if (bugForm.get(field.key)?.errors?.['required']) {
          {{ field.label }} is required. } @if
          (bugForm.get(field.key)?.errors?.['pattern']) { Invalid
          {{ field.label | lowercase }} format. }
        </div>
        }
      </div>
    </div>
    }
  </div>
  <div class="form-group text-center">
    <button
      type="submit"
      [disabled]="bugForm.invalid"
      class="btn btn-primary mt-3"
    >
      Submit Bug
    </button>
  </div>
</form>
